<html>
  <head>
    <title>Happy-Trump</title>
    <link type="text/css" rel="stylesheet" href="main.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

  </head>

  <body>
<h1>Happy Trump: Combating Evil One Positive Affirmation at a Time</h1>

<p class='intro'>Trump tweet treat:</p>
<p class='tweet'>{{results}}</p>

<p class='intro'>Counter affirmation:</p>
<p class='affirm'>{{positive}}</p>

</body>

</html>
