<html>
<head>
    <title>Happy-Trump</title>
    <link type="text/css" rel="stylesheet" href="main.css" />
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
</head>

<body>
  <h1>Happy Trump!</h1>

  <h4>Combating Evil One Positive Affirmation at a Time</h4>

  <div class='content'>
    <img src='http://images.huffingtonpost.com/2016-02-15-1455534387-1672884-nbcfiresdonaldtrumpafterhecallsmexicansrapistsanddrugrunners.jpg'/>
  <!--  <p class='intro'>Trump tweet treat:</p> -->
    <p class='tweet'>{{results}}</p>
  </div>

  <div class='content'>
    <img src='http://dingo.care2.com/pictures/greenliving/1188/1187769.large.jpg'/>
  <!--  <p class='intro'>Counter affirmation:</p> -->
    <p class='affirm'>{{positive}}</p>
  </div>

</body>

</html>
