body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 250px;
  margin-top: 100px;
  font-family: sans-serif;
  text-align: center;
  flex-direction: column;
  }

h1 {
 color: black;
 font-size: 70px;
 text-align: center;
 margin: 0;
 padding: 0;
 }

 h4 {
  color: black;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding-top: 0;
  padding-bottom: 50px;
 }

p {
  color: #336699;
  font-size: 40px;
  text-align: center;

  }

.content {
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  margin-right: 50px;
  align-items: center
}

.tweet {
  color: red;
}
.affirm {
  color: darkgreen;
}
.intro {
  font-size: 30px;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: 50px;
  padding: 50px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
